<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Optimum Athletes - Your Journey to Peak Performance Begins!</title>
</head>
<body>
    <div>
        <p>Dear {{ name }},</p>
        <p>I hope this email finds you well and filled with excitement for the upcoming season. On behalf of the entire Optimum Athletes team, I want to extend a warm welcome and express our sincere gratitude for choosing us as your partner in player development.</p>
        <p>At Optimum Athletes, we understand the significance of the trust you've placed in us to guide you on your journey towards peak performance. It's an honor to have you as a part of our community, and we are committed to helping you achieve your goals in the upcoming season.</p>
        <p>For the initial four-six weeks of your program, our primary focus is to seamlessly onboard you, tailoring our approach to match your specific objectives, whether it be velocity training, mound work, or any other unique goal you've set for yourself. We recognize that each athlete is unique, and our dedicated team is here to provide a personalized experience that aligns with your aspirations.</p>
        <p>Throughout this period, our goal is to progress you safely and efficiently, ensuring that each step is a building block toward the accomplishment of your goals. We firmly believe in the power of gradual progression, and our carefully crafted program is designed to maximize your potential while minimizing the risk of injury.</p>
        <p>To optimize your experience and progress, we kindly request that you adhere to the guidelines outlined in your player profile on traq.drivelinebaseball.com/login. This valuable tool is an integral part of your journey with us, providing insights and personalized recommendations to enhance your training and development.</p>
        <p>We are thrilled to embark on this transformative journey with you and look forward to witnessing your growth and success over the coming weeks and months. Should you have any questions or require additional support, our team is always here to assist you.</p>
        <p>Once again, welcome to Optimum Athletes. Let's make this season your most successful one yet!</p>
    </div>
    <br>
    <div>
        <h2 style="text-align: center;">Introducing Our Programs:</h2>
        <h4>6 Day Program: $500/month</h3>
        <ul>
            <li>With the 6 Day Program, you have access to our gym every day (Monday-Saturday). This program is built to keep you engaged, active, and making progress as you pursue your fitness goals. Feel free to drop by and work out at your convenience on all six days.</li>
        </ul>
        <h4>3 Day Program: $400/month</h3>
        <ul>
            <li>Tailored for those with a busy schedule, our 3 Day Program offers a focused and effective workout routine. Your program will be built around the 3 days a week that you can make it into the facility. You have access to the gym exclusively on the designated three days, optimizing your training efforts for maximum results.</li>
        </ul>
        <h3>How to Sign Up:</h3>
        <ol>
            <li>
                <h4>Choose Your Program:</h4>
                <ul>
                    <a href="https://app.acuityscheduling.com/catalog.php?owner=17750868&action=addCart&clear=1&id=1466943" target="_blank">6 Day Program</a>
                </ul>
                <ul>
                    <a href="https://app.acuityscheduling.com/catalog.php?owner=17750868&action=addCart&clear=1&id=1468007" target="_blank">3 Day Program</a>
                </ul>
            </li>
            <li>
                <h4>Click on the Link:</h4>
                <ul>Simply click on the provided link above for your chosen program, and it will take you to the sign-up page.</ul>
            </li>
            <li>
                <h4>Complete Your Subscription:</h4>
                <ul>Follow the easy steps to complete your subscription. Please enter the athlete's name when signing up. You'll be prompted to set up your payment details, and from there, our system will take care of the rest. Your card will be billed monthly and it is your responsibility to cancel your subscription or talk to an Optimum Athletes employee about helping you cancel if you decide to stop training with us.</ul>
            </li>
        </ol>
    </div>
    <br>
    <div>
        <h2 style="text-align: center;">Accessing Your Physical Assessment</h2>
        <p>To access the detailed results of your physical assessment conducted by Kime Physical Therapy, please visit <a href="https://optimumathletesreporting.com" target="_blank">optimumathletesreporting.com</a>.</p>
        <p>
            <strong>Input the email address you provided to us, and use the password format: Baseball, followed by your two initials, and then '@'. For instance, if your name is Johnny Smith, your password would be Baseballjs@.</strong>
            <span style="color: red"> It's important to note that both the email and password are case-sensitive</span>.
        </p>
        <p>Once successfully logged in, you'll gain access to a comprehensive overview of each assessment, accompanied by thorough explanations for clarity. The results are thoughtfully presented, providing a clear understanding of your strengths and areas for improvement, with a pass/fail grade assigned to each assessment. We encourage you to leverage this valuable information as a guide for your personalized player development journey. If you have any questions or require assistance navigating the platform, our dedicated team is here to support you every step of the way. We are excited to empower you with the insights needed to enhance your performance and achieve your athletic goals.</p>
    </div>
    <br>
    <div>
        <h2 style="text-align: center;">Day 1 at the Facility</h2>
        <p>Here are the steps for you to complete after you have purchased a training program and are ready to start training with us:</p>
        <ol>
            <li>Go to <a href="https://OptimumAthletesBooking.as.me" target="_blank">OptimumAthletesBooking.as.me</a></li>
            <li>Find “Throwing On Board” and schedule a time that best suits your schedule (available at 4:30, 5:30, and 6:30)</li>
            <li>Now find “Weight Room On Board” and schedule a time 30 minutes after the time you signed up for throwing</li>
            <li>Arrive to Optimum Athletes facility 30 minutes prior to your scheduled Throwing On Board so we can set up your TRAQ account and run you through our Mobility routine</li>
        </ol>
    </div>
    <div>
        <h2 style="text-align: center;">Your Guide to Acuity</h2>
        <p>We use Acuity Scheduling to keep your training sessions organized and efficient. This tool helps us manage attendance, preventing overcrowding and ensuring each athlete gets the attention they deserve. Go to this website, 
            <strong>OptimumAthletesBooking.as.me</strong> to schedule your throwing, hitting and lifting. This link is also available in our Instagram Bio.
        </p>
        <p>Your customized training program is crafted on TRAQ (<strong>traq.drivelinebaseball.com</strong>). 
            Log in daily to stay informed about your scheduled activities, ensuring you're ready for each session. <strong>YOUR TRAQ ACCOUNT WILL BE CREATED ON YOUR FIRST DAY AT THE FACILITY WITH A TRAINER. PLEASE DO NOT CREATE AN ACCOUNT ON YOUR OWN.</strong>
        </p>
        <p>We are combining the power of Acuity and TRAQ to enhance your training experience. Acuity makes scheduling seamless, ensuring organized and focused sessions. Meanwhile, TRAQ provides your personalized training plan, accessible daily. Together, they streamline your fitness journey, making it efficient and tailored just for you.</p>
        <p>This is an example of what TRAQ will look like when your account is created. Green is throwing, blue is hitting, and orange is lifting. </p>
        <p style="text-align: center;"><img style="text-align: center; width: 100px;, height: 200px;"src="https://raw.githubusercontent.com/anthonypiegaro/oa_images/main/image1.png" alt="Example of traq workout screen"></p>
        <p>When scheduling for throwing, go into Acuity and find the type of day that you need to sign up for. In this example, “Standard” throwing falls under “Non Velocity Throwing” in Acuity. If your TRAQ ever says something like “ Mound Blend B” then you will sign up for “Bullpen” in Acuity. You can see all the different types of throwing days underneath the “Throwing” category.</p>
        <p style="text-align: center;"><img style="text-align: center; width: 100px;, height: 200px;"src="https://raw.githubusercontent.com/anthonypiegaro/oa_images/main/image2.png" alt="Example of traq workout screen"></p>
        <p>For Hitting and Lifting, you will always just sign up for “Hitting” or “Lifting” in Acuity. There is no specific name you need to sign up for no matter what your TRAQ says.</p>
        <p>Here is an example of what a day would look like based off of the screenshot above:
            <ol>
                <li>TRAQ says you have “Standard” throwing so you book “Non Velocity Throwing” for 4:30 pm</li>
                <li>There is an open hitting slot at 5:00 pm so you book “Hitting”</li>
                <li>You book “Lifting” at 6:00 pm following your hitting</li>
            </ol>
        </p>
        <p>When you have a day where you are throwing, hitting, and lifting we ask that you guys schedule the lifting last so when you are at your physical peak in the day throwing and hitting. 
            <strong>Hitting slots fill up quickly, so we suggest that you schedule your days based off of the availability for hitting.</strong>
        </p>
    </div>
</body>
</html>